@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Student Strand Assessment</h2>

<p>
    <a asp-controller="Student" asp-action="EnterGrades">Enter Grades</a> |
    <a asp-controller="Student" asp-action="ViewStrand">View Strand</a>
    <a asp-controller="Student" asp-action="AddGrade">Add Grade</a>
</p>
