@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to Student Assessment</h2>

<form asp-action="EnterStudentNumber" method="post">

    <div class="form-group">
        <label for="studentNumber">Enter your Student Number:</label>
        <input type="text" id="studentNumber" name="studentNumber" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>