@model Functional_Student_Assessment.Models.StudentGrade 

@{
    ViewBag.Title = "Recommend Strand";
}

<h2>Recommend Strand</h2>

<div>
    <h4>Recommended Strand</h4>
    <p>@ViewBag.RecommendedStrand?.Name - @ViewBag.RecommendedStrand?.Description</p>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
