@model Functional_Student_Assessment.Models.StudentGrade

@{
    ViewBag.Title = "Recommend Strand";
}

<h2>Recommend Strand</h2>

<div>
    <h4>Recommended Strands</h4>
    <ul>
        @foreach (var strand in ViewBag.RecommendedStrands)
        {
            <li>@strand</li>
        }
    </ul>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
